<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./src/assets/BT5.css">
  <title>Vite App</title>
</head>

<body>
  <!-- <div id="app"></div>
    <script type="module" src="/src/main.ts"></script> -->
  <div id="product-customiser">
    <div id="BT5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <canvas id="preview" ref="canvasRef"></canvas>
          </div>
          <div class="col-lg-4 ps-0 fz-13 py-2">
            <div id="steps">
              <div class="p-3 border br-5 shadow mt-2 d-flex justify-content-between align-items-center">
                <h2 class="h5">Build a Funsquare</h2>
                <span v-text="price = 0" class="d-none"></span>
                <div v-for="(step, index) in steps" class="fz-13 d-none">
                  <!-- <p class="mb-0" v-text="totalPrice"></p>
                  <p class="mb-0" v-text="Number(((step.getCurrentVariant().getPrice()) / 100).toFixed(2))"></p> -->
                  <p class="mb-0"><span v-text="price += totalPrice+(Number(((step.getCurrentVariant().getPrice()) / 100).toFixed(2)))"></span></p>
                  <hr>
                  <br>
                </div>
                <p class="mb-0">$<span v-text="price"></span>.00</p>
              </div>
              <div class="p-3 border br-5 shadow mt-2">
                <div v-for="(step, index) in steps" class="fz-11 py-1">
                  <h5 v-text="step.getName()"></h5>
                  <div v-if="step.getType() == 'Model'" class="d-flex flex-nowrap oxs remove-scrollbar text-center">
                    <div v-for="(variant, index) in step.getAvailableVariants()" class="p-1 select-variant">
                      <div :key="variant.getId()" @click="step.selectVariant(variant)" class="variant-image" :class="step.getCurrentVariant().getId() == variant.getId() ? 'selected' : ''">
                        <img :src="variant.getThumbnail()" class="border img-fluid br-5">
                        <p class="mb-0" v-text="variant.getName()"></p>
                        <p class="mb-0">$<span v-text="Number(((variant.getPrice()) / 100).toFixed(2))"></span>.00</p>
                      </div>
                    </div>
                  </div>
                  <div v-if="step.getType() == 'Shape'" class="d-flex flex-nowrap oxs remove-scrollbar text-center">
                    <div v-for="(variant, index) in step.getAvailableVariants()" class="p-1 select-variant">
                      <div :key="variant.getId()" :id="variant.getId()" @click="changeColor(step, variant.getId())" :class="step.getCurrentVariant().getId() == variant.getId() ? 'selected' : ''">
                        <div class="color-bg" :style="{background: variant.getColor()}"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-3 border br-5 shadow mt-2">
                <h3>Confirm Design</h3>
                <div v-for="(step, index) in steps" class="fz-13">
                  <div v-if="step.getType() == 'Model'" class="d-flex justify-content-between py-1">
                    <p class="mb-0"> selection <span v-text="step.getName()"></span></p>
                    <p class="mb-0" v-text="step.getCurrentVariant().getName()"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script type="module">
    import { SpiffCommerceClient } from '@spiffcommerce/core';
    import { SpiffCommerce3DPreviewService } from '@spiffcommerce/preview';
    Vue.createApp({
      data() {
        return {
          integrationProductId: 'b8b74dc9-655b-474e-b2b6-338db397e689',
          workflowId: '653b6369-89d1-4302-ba1e-ee50117e3c73',
          canvasRefEle: this.$refs<HTMLCanvasElement | null>(null),
          client: new SpiffCommerceClient({}),
          workflowExperience: null,
          steps: null,
          totalPrice: 0,
          price: 0,
        }
      },
      mounted(){
        this.canvasRefEle = this.$refs.canvasRef;
        this.initialize().then((experience) => {
          if(!this.canvasRefEle) 
          return;
          experience.getWorkflowManager().getPreviewService().registerView(this.canvasRefEle);
        });
      },
      methods:{
        async initialize(){
          this.workflowExperience = await this.client.getWorkflowExperience(
            undefined,
            undefined,
            (workflow) => {
              return new SpiffCommerce3DPreviewService(workflow.globalPreviewConfig);
            },
            {
              type: 'integration',
              integrationProductId: this.integrationProductId,
              workflowId: this.workflowId,
            },
          );
          this.workflowExperience.attachRenderableSceneListener(this.onScenesChange);
          return this.workflowExperience;
        },
        onScenesChange(scenes){
          this.totalPrice = 0;
          const renderableSteps = scenes.flatMap((s) => s.renderableSteps);
          const steps = this.workflowExperience.getSteps().filter((s) => renderableSteps.includes(s.getId()));
          this.steps = steps;
        },
        changeColor(currentStep, currentVariantID){
          currentStep.getColors().then(function(result) {
            result.map((res) => {
              if(res.variant.id == currentVariantID){
                console.log(res.variant.id + " - " + currentVariantID);
                currentStep.setColor(res);
              }
            })
          });
        }
      }
    }).mount("#product-customiser");
  </script>
</body>

</html>