<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./src/assets/BT5.css">
  <title>Vite App</title>
</head>

<body>
  <!-- <div id="app"></div>
    <script type="module" src="/src/main.ts"></script> -->
  <div id="product-customiser">
    <div id="BT5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8">
            <canvas id="preview" ref="canvasRef"></canvas>
          </div>
          <div class="col-lg-4 fz-13">
            <div id="steps">
              <div v-for="(step, index) in steps" class="py-2 fz-13">
                <h5 v-text="step.getName()"></h5>
                <!-- <h5 v-text="step.getId()"></h5> -->
                <div v-if="step.getType() == 'Model'" class="d-flex flex-wrap text-center">
                  <div v-for="variant in step.getAvailableVariants()" class="p-1">
                    <div :key="variant.getId()" @click="step.selectVariant(variant)">
                      <img :src="variant.getThumbnail()" class="variant-image border img-fluid br-5">
                      <p class="mb-0" v-text="variant.getName()"></p>
                      <p class="mb-0">$<span v-text="Number(((variant.getPrice()) / 100).toFixed(2))"></span>.00</p>
                    </div>
                  </div>
                </div>
                <div v-if="step.getType() == 'Shape'" class="d-flex flex-wrap text-center">
                  <div v-for="variant in step.getAvailableVariants()" class="p-1">
                    <div :key="variant.getId()" :id="variant.getId()" @click="step.setColor(variant.getId(),variant.getColor())">
                      <div class="color-bg" :style="{background: variant.getColor()}"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script type="module">
    import { SpiffCommerceClient } from '@spiffcommerce/core';
    import { SpiffCommerce3DPreviewService } from '@spiffcommerce/preview';
    Vue.createApp({
      data() {
        return {
          integrationProductId: 'b8b74dc9-655b-474e-b2b6-338db397e689',
          workflowId: '653b6369-89d1-4302-ba1e-ee50117e3c73',
          canvasRefEle: this.$refs<HTMLCanvasElement | null>(null),
          client: new SpiffCommerceClient({}),
          workflowExperience: null,
          steps: null,
          colors: null,
        }
      },
      mounted(){
        this.canvasRefEle = this.$refs.canvasRef;
        this.initialize().then((experience) => {
          if(!this.canvasRefEle) 
          return;
          experience.getWorkflowManager().getPreviewService().registerView(this.canvasRefEle);
        });
      },
      methods:{
        async initialize(){
          this.workflowExperience = await this.client.getWorkflowExperience(
            undefined,
            undefined,
            (workflow) => {
              return new SpiffCommerce3DPreviewService(workflow.globalPreviewConfig);
            },
            {
              type: 'integration',
              integrationProductId: this.integrationProductId,
              workflowId: this.workflowId,
            },
          );
          this.workflowExperience.attachRenderableSceneListener(this.onScenesChange);
          return this.workflowExperience;
        },
        onScenesChange(scenes){
          const renderableSteps = scenes.flatMap((s) => s.renderableSteps);
          const steps = this.workflowExperience.getSteps().filter((s) => renderableSteps.includes(s.getId()));
          this.steps = steps;
        },
        changeColor(currentVariant, currentStep){
          // console.log(currentStep.getColors());
          // const colors = currentStep.getColors();
          // colors.then((array) =>{
          //   console.log(array);
          //   this.colors = array;
          // });
          currentStep.getColors().then(function(result) {
                      return result
                    });
          // console.log(this.steps[2].getColors());
          // this.colors = this.steps[2].getColors();
          // this.steps.setColor(key, value);

          // console.log(currentStep.getId());
          // const step = this.workflowExperience.getStepById("43693d93-6c0e-5023-4d22-6e16bc24aa2e");
          // currentVariant.setFill(currentVariant.getColor());
          
          // currentStep.getFill();
          // currentStep.setColor(currentVariant.getId(), currentVariant.getColor())
          // console.log(step);
        }
      }
    }).mount("#product-customiser");
  </script>
</body>

</html>