/* custom */
#product-customiser{
  touch-action: none;
}
#product-customiser #BT5 #preview{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  position: sticky;
  top: 0;
  left: 0;
}
#product-customiser #BT5 #steps .color-bg{
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
}
#product-customiser #BT5 #steps .variant-image{
  width: 70px;
  max-width: 70px;
  min-width: 70px;
  cursor: pointer;
}
#product-customiser #BT5 #steps .variant-image img{
  height: 70px;
}
#product-customiser #BT5 #steps .selected.variant-image img,
#product-customiser #BT5 #steps .selected .color-bg{
  border: 2px solid #000 !important;
}
#product-customiser #BT5 #steps input[name="choose-base-thickness"]{
  visibility: hidden;
  width: 0;
  height: 0;
}
#product-customiser #BT5 #steps input[name="choose-base-thickness"]:checked + label .variant-image{
  border: 1px solid #000 !important;
}
#product-customiser .remove-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#product-customiser .remove-scrollbar::-webkit-scrollbar {
  display: none;
}
#product-customiser #BT5 .finish-design{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  z-index: 1;
}
#product-customiser #BT5 .finish-design .finish-design-box{
  margin: auto;
  max-width: 600px;
  width: 600px;
  background: #fff;
}
#product-customiser #BT5 .finish-design .finish-design-box .selection-block{
  min-height: 60px;
  display: flex;
  align-items: center;
}
#product-customiser #BT5 .finish-design .finish-design-box .image{
  width: 50px;
  height: 50px;
  max-height: 50px;
}
#product-customiser #BT5 .finish-design .finish-design-box .color-bg{
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
}
#product-customiser #BT5 .finish-design .finish-design-box .close{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
#product-customiser #BT5 .btn-style{
  background-color: #58CAE5;
  border: 4px solid #259DB9;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif !important;
}
#product-customiser #BT5 .selection-boxes{
  border: 2px dashed #D6D8FF;
  background-color: #FCFCFF;
  border-radius: 5px;
}
#product-customiser #BT5 .selection-boxes .selection-box{
  margin-bottom: 5px;
}
#product-customiser #BT5 .selection-boxes .selection-box:last-child{
  margin-bottom: 0px;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n+1){
  /* background-color: #FCFCFF; */
  /* border: 2px dashed #D6D8FF; */
  color: #724D37;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n+1) .bg-color{
  background-color: #7C81FF;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n+1) .text-color{
  color: #fff;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n+2){
  /* background-color: #FFFAFB; */
  /* border: 2px dashed #FFD1DB; */
  color: #724D37;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n+2) .bg-color{
  background-color: #FF7E9A;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n+2) .text-color{
  color: #fff;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n){
  /* background-color: #FFFCF9; */
  /* border: 2px dashed #FFE3C2; */
  color: #724D37;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n) .bg-color{
  background-color: #FF961A;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n) .text-color{
  color: #fff;
}
@media (max-width: 992px) {
  #product-customiser #BT5 #preview{
    height: 40vh;
    min-height: auto;
    max-height: auto;
  }
  #product-customiser #BT5 .steps-block{
    height: 60vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #product-customiser #BT5 .steps-block::-webkit-scrollbar {
    display: none;
  }
}

/* switch */
#product-customiser #BT5 .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

#product-customiser #BT5 .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

#product-customiser #BT5 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-transition: .4s;
  transition: .4s;
}

#product-customiser #BT5 .slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2.2px;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n+1) .slider:before{
  background-color: #7C81FF;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n+2) .slider:before{
  background-color: #FF7E9A;
}
#product-customiser #BT5 .selection-boxes .selection-box:nth-child(3n) .slider:before{
  background-color: #FF961A;
}

#product-customiser #BT5 input:checked + .slider {
  background-color: #fff;
}

#product-customiser #BT5 input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}

#product-customiser #BT5 input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
#product-customiser #BT5 .slider.round {
  border-radius: 34px;
}

#product-customiser #BT5 .slider.round:before {
  border-radius: 50%;
}
#product-customiser #BT5 .spinner-box,
#product-customiser #BT5 .addtocart-box{
  display: none;
}
#product-customiser #BT5 .spinner-box .spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 20px;
  height: 20px;
}
#product-customiser #BT5 .path {
  stroke: #fff;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
